@model IEnumerable<BLL.Entities.Product>
@using DAL;


            <div class="group-product-inner gp-1">
                <div class="title-home-page">
                    <span>Cookwares</span> 
                    <a class="link-title" href="#">View All</a> 
                </div>
                <div id="sm_filterproducts_1602619964375860726" class="slider-wrapper products-grid">  
                <div class="item item-0 product product-item first-item" style="-ms-grid-row:1;-ms-grid-row-span:3;grid-row:1/4;">
                    <div class="item-inner clearfix">  
                    <div class="image-thumbs product_16926028271602619964">
                        <div class="box-image">
                        <a href="http://magento2.flytheme.net/themes/sm_zumi/default/unisex-casual-high-quality-canvas.html" class="product photo product-item-photo" tabindex="-1"> 
                            <span class="product-image-container" style="width:300px;">
                                <span class="product-image-wrapper" style="padding-bottom: 100%;">
                                    <img class="product-image-photo" src="http://magento2.flytheme.net/themes/sm_zumi/pub/media/catalog/product/cache/75613510da13ab30c2b2c30bb4e21bbd/2/2/22_5.jpg" data-src="http://magento2.flytheme.net/themes/sm_zumi/pub/media/catalog/product/cache/75613510da13ab30c2b2c30bb4e21bbd/2/2/22_5.jpg" width="" height="" alt="Unisex Casual High Quality Canvas ">
                                     </span>
                            </span>
                            </a> <!--LABEL PRODUCT-->  <!--END LABEL PRODUCT-->
                        <div class="wrap-action">
                            <div class="button-action">  <a href="#" data-post="{&quot;action&quot;:&quot;http:\/\/magento2.flytheme.net\/themes\/sm_zumi\/default\/wishlist\/index\/add\/&quot;,&quot;data&quot;:{&quot;product&quot;:2078,&quot;uenc&quot;:&quot;aHR0cDovL21hZ2VudG8yLmZseXRoZW1lLm5ldC90aGVtZXMvc21fenVtaS9kZWZhdWx0Lw,,&quot;}}" class="action towishlist btn-action link-wishlist" data-action="add-to-wishlist" title="Add to Wish List"><span>Add to Wish List</span></a>      <a href="#" class="action tocompare btn-action link-compare" data-post="{&quot;action&quot;:&quot;http:\/\/magento2.flytheme.net\/themes\/sm_zumi\/default\/catalog\/product_compare\/add\/&quot;,&quot;data&quot;:{&quot;product&quot;:&quot;2078&quot;,&quot;uenc&quot;:&quot;aHR0cDovL21hZ2VudG8yLmZseXRoZW1lLm5ldC90aGVtZXMvc21fenVtaS9kZWZhdWx0Lw,,&quot;}}" title="Add to Compare"><span>Add to Compare</span></a>  <a class="action quickview-handler sm_quickview_handler" title="Quick View" href="http://magento2.flytheme.net/themes/sm_zumi/default/cartquickpro/catalog_product/view/id/2078"><span>Quick View</span></a></div><div class="product actions product-item-actions bottom-action">   <form data-role="tocart-form" action="http://magento2.flytheme.net/themes/sm_zumi/default/unisex-casual-high-quality-canvas.html?options=cart" method="post"><input type="hidden" name="product" value="2078"><input type="hidden" name="uenc" value="aHR0cDovL21hZ2VudG8yLmZseXRoZW1lLm5ldC90aGVtZXMvc21fenVtaS9kZWZhdWx0L3VuaXNleC1jYXN1YWwtaGlnaC1xdWFsaXR5LWNhbnZhcy5odG1sP29wdGlvbnM9Y2FydA,,"><input name="form_key" type="hidden" value="9uvYg3aFLSMUAl15"> <button type="submit" title="Add to Cart" class="action tocart primary btn-action btn-cart">
                            <span>Add to Cart</span>
                                                                                   </button>
                                                                                  </form> 
                                                                           </div>
                            </div>
                            </div>
                        <div class="thumbs-product"></div>
                        </div>
                    <div class="product details product-item-details box-info">
                        <h2 class="product name product-item-name product-name">
                        <a class="product-item-link" href="http://magento2.flytheme.net/themes/sm_zumi/default/unisex-casual-high-quality-canvas.html">Unisex Casual High Quality Canvas </a>
                            </h2>
                        <div class="price-box price-final_price" data-role="priceBox" data-product-id="2078" data-price-box="product-id-2078">   
                        <span class="price-container price-final_price tax weee">
                            <span id="product-price-2078" data-price-amount="79" data-price-type="finalPrice" class="price-wrapper ">
                            <span class="price">$79.00</span>
                                </span>  
                            </span> 
                            </div>  
                        <div class="product-reviews-summary short"> 
                        <div class="rating-summary">
                            <span class="label">
                            <span>Rating:</span>
                                </span> 
                            <div class="rating-result" title="83%">
                            <span style="width:83%">
                                <span>83%</span></span>
                                </div>
                            </div> 
                        <div class="reviews-actions">
                            <a class="action view" href="http://magento2.flytheme.net/themes/sm_zumi/default/unisex-casual-high-quality-canvas.html#reviews">2&nbsp;<span>Reviews</span>
                                </a>
                            </div>
                            </div> 
                        <div class="bottom-action"> 
                        <form data-role="tocart-form" action="http://magento2.flytheme.net/themes/sm_zumi/default/unisex-casual-high-quality-canvas.html?options=cart" method="post">
                            <input type="hidden" name="product" value="2078">
                            <input type="hidden" name="uenc" value="aHR0cDovL21hZ2VudG8yLmZseXRoZW1lLm5ldC90aGVtZXMvc21fenVtaS9kZWZhdWx0L3VuaXNleC1jYXN1YWwtaGlnaC1xdWFsaXR5LWNhbnZhcy5odG1sP29wdGlvbnM9Y2FydA,,"><input name="form_key" type="hidden" value="9uvYg3aFLSMUAl15">
                            <button type="submit" title="Add to Cart" class="action tocart primary btn-action btn-cart">
                            <span>Add to Cart</span>
                                </button>
                            </form> 
                            </div>
                        </div>
                        </div>
                    </div> 
                <div class="item item-1 product product-item ">
                    <div class="item-inner clearfix"> 
                    <div class="image-thumbs product_21004856881602619965">
                        <div class="box-image">
                        <a href="http://magento2.flytheme.net/themes/sm_zumi/default/lightweight-on-ear-headphones-black.html" class="product photo product-item-photo" tabindex="-1"> 
                            <span class="product-image-container" style="width:300px;">
                            <span class="product-image-wrapper" style="padding-bottom: 100%;">
                                <img class="product-image-photo" src="http://magento2.flytheme.net/themes/sm_zumi/pub/media/catalog/product/cache/75613510da13ab30c2b2c30bb4e21bbd/6/_/6_2.jpg" data-src="http://magento2.flytheme.net/themes/sm_zumi/pub/media/catalog/product/cache/75613510da13ab30c2b2c30bb4e21bbd/6/_/6_2.jpg" width="" height="" alt="Heston Boiler Espresso Machine">
                                </span>
                                </span>
                            </a> 
    <!--LABEL PRODUCT-->  <!--END LABEL PRODUCT-->
                            </div>
                        <div class="thumbs-product"></div>
                        </div>
                    <div class="product details product-item-details box-info">
                        <h2 class="product name product-item-name product-name"><a class="product-item-link" href="http://magento2.flytheme.net/themes/sm_zumi/default/lightweight-on-ear-headphones-black.html">Heston Boiler Espresso Machine</a></h2>
                        <div class="price-box price-final_price" data-role="priceBox" data-product-id="2057" data-price-box="product-id-2057">  
                        <span class="special-price"> 
                            <span class="price-container price-final_price tax weee">
                            <span class="price-label">Special Price</span> 
                            <span id="product-price-2057" data-price-amount="60" data-price-type="finalPrice" class="price-wrapper ">
                                <span class="price">$60.00</span></span> 
                                </span></span> <span class="old-price"> 
                            <span class="price-container price-final_price tax weee">
                            <span class="price-label">Regular Price</span>
                            <span id="old-price-2057" data-price-amount="70" data-price-type="oldPrice" class="price-wrapper ">
                                <span class="price">$70.00</span></span> 
                                </span></span> 
                            </div>  
                        <div class="product-reviews-summary short">
                        <div class="rating-summary">
                            <span class="label"><span>Rating:</span></span> 
                            <div class="rating-result" title="93%">
                            <span style="width:93%"><span>93%</span></span>
                                </div></div> <div class="reviews-actions">
                            <a class="action view" href="http://magento2.flytheme.net/themes/sm_zumi/default/lightweight-on-ear-headphones-black.html#reviews">1&nbsp;
                            <span>Review</span>
                                </a>
                                     </div>
                            </div>
                        <div class="bottom-action">  
                        <form data-role="tocart-form" action="http://magento2.flytheme.net/themes/sm_zumi/default/checkout/cart/add/uenc/aHR0cDovL21hZ2VudG8yLmZseXRoZW1lLm5ldC90aGVtZXMvc21fenVtaS9kZWZhdWx0Lw%2C%2C/product/2057/" method="post">
                            <input type="hidden" name="product" value="2057">
                            <input type="hidden" name="uenc" value="aHR0cDovL21hZ2VudG8yLmZseXRoZW1lLm5ldC90aGVtZXMvc21fenVtaS9kZWZhdWx0L2NoZWNrb3V0L2NhcnQvYWRkL3VlbmMvYUhSMGNEb3ZMMjFoWjJWdWRHOHlMbVpzZVhSb1pXMWxMbTVsZEM5MGFHVnRaWE12YzIxZmVuVnRhUzlrWldaaGRXeDBMdyUyQyUyQy9wcm9kdWN0LzIwNTcv">
                            <input name="form_key" type="hidden" value="9uvYg3aFLSMUAl15"> 
                            <button type="submit" title="Add to Cart" class="action tocart primary btn-action btn-cart">
                            <span>Add to Cart</span>
                                </button>
                            </form> 
                            </div>
                        </div>
                    <a class="action quickview-handler sm_quickview_handler" title="Quick View" href="http://magento2.flytheme.net/themes/sm_zumi/default/cartquickpro/catalog_product/view/id/2057">
                        <span>Quick View</span>
                        </a>
                        </div>
                    <a class="action quickview-handler sm_quickview_handler" title="Quick View" href="http://magento2.flytheme.net/themes/sm_zumi/default/cartquickpro/catalog_product/view/id/2057">
                    <span>Quick View</span></a></div>
                <div class="item item-2 product product-item ">
                    <div class="item-inner clearfix"> 
                    <div class="image-thumbs product_13031133711602619965">
                        <div class="box-image">
                        <a href="http://magento2.flytheme.net/themes/sm_zumi/default/ricoh-theta-360-spherical-camera.html" class="product photo product-item-photo" tabindex="-1">  <span class="product-image-container" style="width:300px;">
                            <span class="product-image-wrapper" style="padding-bottom: 100%;">
                            <img class="product-image-photo" src="http://magento2.flytheme.net/themes/sm_zumi/pub/media/catalog/product/cache/75613510da13ab30c2b2c30bb4e21bbd/9/_/9_4.jpg" data-src="http://magento2.flytheme.net/themes/sm_zumi/pub/media/catalog/product/cache/75613510da13ab30c2b2c30bb4e21bbd/9/_/9_4.jpg" width="" height="" alt="Philips HR1861 Whole Fruit Juicer">
                                </span>
                                   </span>
                            </a> <!--LABEL PRODUCT-->  <!--END LABEL PRODUCT--></div>
                        <div class="thumbs-product"></div>
                        </div>
                    <div class="product details product-item-details box-info"> 
                        <h2 class="product name product-item-name product-name">
                        <a class="product-item-link" href="http://magento2.flytheme.net/themes/sm_zumi/default/ricoh-theta-360-spherical-camera.html">Philips HR1861 Whole Fruit Juicer</a></h2>
                        <div class="price-box price-final_price" data-role="priceBox" data-product-id="2060" data-price-box="product-id-2060">    
                        <span class="price-container price-final_price tax weee"> 
                            <span id="product-price-2060" data-price-amount="4.7" data-price-type="finalPrice" class="price-wrapper ">
                            <span class="price">$4.70</span></span>
                            </span>  
                        </div> 
                        <div class="product-reviews-summary short"> 
                        <div class="rating-summary">
                            <span class="label">
                            <span>Rating:</span>
                                </span>
                            <div class="rating-result" title="86%">
                            <span style="width:86%">
                                <span>86%</span></span>
                                </div></div> 
                        <div class="reviews-actions">
                            <a class="action view" href="http://magento2.flytheme.net/themes/sm_zumi/default/ricoh-theta-360-spherical-camera.html#reviews">3&nbsp;<span>Reviews</span></a></div>
                            </div> 
                        <div class="bottom-action"> 
                        <form data-role="tocart-form" action="http://magento2.flytheme.net/themes/sm_zumi/default/ricoh-theta-360-spherical-camera.html?options=cart" method="post">
                            <input type="hidden" name="product" value="2060">
                            <input type="hidden" name="uenc" value="aHR0cDovL21hZ2VudG8yLmZseXRoZW1lLm5ldC90aGVtZXMvc21fenVtaS9kZWZhdWx0L3JpY29oLXRoZXRhLTM2MC1zcGhlcmljYWwtY2FtZXJhLmh0bWw_b3B0aW9ucz1jYXJ0">
                            <input name="form_key" type="hidden" value="9uvYg3aFLSMUAl15">
                            <button type="submit" title="Add to Cart" class="action tocart primary btn-action btn-cart"><span>Add to Cart</span></button>
                            </form> 
                        </div>
                        </div>
                    <a class="action quickview-handler sm_quickview_handler" title="Quick View" href="http://magento2.flytheme.net/themes/sm_zumi/default/cartquickpro/catalog_product/view/id/2060"><span>Quick View</span></a></div><a class="action quickview-handler sm_quickview_handler" title="Quick View" href="http://magento2.flytheme.net/themes/sm_zumi/default/cartquickpro/catalog_product/view/id/2060">
                    <span>Quick View</span></a>
                    </div> 
                <div class="item item-3 product product-item ">
                    <div class="item-inner clearfix">  
                    <div class="image-thumbs product_13341471041602619965">
                        <div class="box-image">
                        <a href="http://magento2.flytheme.net/themes/sm_zumi/default/tivi-bridge-moca-2-0-adapter.html" class="product photo product-item-photo" tabindex="-1"> 
                            <span class="product-image-container" style="width:300px;">
                    <span class="product-image-wrapper" style="padding-bottom: 100%;">
                    <img class="product-image-photo" src="http://magento2.flytheme.net/themes/sm_zumi/pub/media/catalog/product/cache/75613510da13ab30c2b2c30bb4e21bbd/8/_/8_4.jpg" data-src="http://magento2.flytheme.net/themes/sm_zumi/pub/media/catalog/product/cache/75613510da13ab30c2b2c30bb4e21bbd/8/_/8_4.jpg" width="" height="" alt="Philips HR1861 Whole Fruit Juicer"></span>
                                </span></a> 
    <!--LABEL PRODUCT-->  <!--END LABEL PRODUCT--></div>
                        <div class="thumbs-product"></div></div>
                    <div class="product details product-item-details box-info">
                        <h2 class="product name product-item-name product-name">
                        <a class="product-item-link" href="http://magento2.flytheme.net/themes/sm_zumi/default/tivi-bridge-moca-2-0-adapter.html">Philips HR1861 Whole Fruit Juicer</a></h2><div class="price-box price-final_price" data-role="priceBox" data-product-id="2059" data-price-box="product-id-2059">   
                        <span class="price-container price-final_price tax weee">
                        <span id="product-price-2059" data-price-amount="34" data-price-type="finalPrice" class="price-wrapper ">
                            <span class="price">$34.00</span></span>  </span> 
                                  </div>   
                        <div class="product-reviews-summary short"> 
                        <div class="rating-summary"><span class="label">
                            <span>Rating:</span></span> <div class="rating-result" title="95%"><span style="width:95%"><span>95%</span></span></div></div>
                        <div class="reviews-actions"><a class="action view" href="http://magento2.flytheme.net/themes/sm_zumi/default/tivi-bridge-moca-2-0-adapter.html#reviews">2&nbsp;<span>Reviews</span></a></div></div>  
                        <div class="bottom-action"> 
                        <form data-role="tocart-form" action="http://magento2.flytheme.net/themes/sm_zumi/default/tivi-bridge-moca-2-0-adapter.html?options=cart" method="post">
                            <input type="hidden" name="product" value="2059"><input type="hidden" name="uenc" value="aHR0cDovL21hZ2VudG8yLmZseXRoZW1lLm5ldC90aGVtZXMvc21fenVtaS9kZWZhdWx0L3RpdmktYnJpZGdlLW1vY2EtMi0wLWFkYXB0ZXIuaHRtbD9vcHRpb25zPWNhcnQ,"><input name="form_key" type="hidden" value="9uvYg3aFLSMUAl15">
                            <button type="submit" title="Add to Cart" class="action tocart primary btn-action btn-cart">
                            <span>Add to Cart</span></button>
                            </form>
                            </div></div>
                    <a class="action quickview-handler sm_quickview_handler" title="Quick View" href="http://magento2.flytheme.net/themes/sm_zumi/default/cartquickpro/catalog_product/view/id/2059"><span>Quick View</span>
                        </a>
                        </div>
                    <a class="action quickview-handler sm_quickview_handler" title="Quick View" href="http://magento2.flytheme.net/themes/sm_zumi/default/cartquickpro/catalog_product/view/id/2059">
                    <span>Quick View</span>
                    </a>
                </div>
                </div>
            </div>
  